In [11]:
import pandas as pd
import numpy as np

In [12]:
dataFrame = pd.DataFrame({'A':[1,2,3],"B":[10,20,30]})
dataFrame

   A   B
0  1  10
1  2  20
2  3  30

In [19]:
#create a series by passing a list values 
s = pd.Series([1,2,3,np.nan,6,7,8])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
6    8.0
dtype: float64

In [32]:
#create datetimes a date_range() method 
dates = pd.date_range("20221201",periods=6)
dates

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06'],
              dtype='datetime64[ns]', freq='D')

In [26]:
#Create a dataFrame by passsing numpy array with index datetime
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns = list("ABCD"))
df

                   A         B         C         D
2022-12-01  1.204171 -0.388190 -0.733282 -0.830722
2022-12-02 -0.951580  0.326228 -0.856443  0.755127
2022-12-03  0.090908 -1.088689 -0.660096 -1.119043
2022-12-04 -0.752470  0.129893 -0.629723  0.728227
2022-12-05  0.149242  0.228747 -0.720223 -0.457568
2022-12-06 -0.477068 -0.283672  1.280379  0.746671